.padding {
  width: 100%;
  height: 100%;
}

.flex-box {
  display: inline-flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.text-style {
  font-family: "Share Tech", sans-serif;
}

@media screen and (max-width: 780px) {
  .padding-bottom {
    padding-bottom: 100px;
  }
}
